.active-filter {
  display: flex;
  flex-wrap: wrap;
  align-items: baseline;
  gap: 0.5rem;

  &__tag {
    font-size: 0.75rem;
    line-height: 2em;
    padding: 0.0625rem 0.5rem;
    border: 1px solid $light-300;
    border-radius: $border-radius;
    display: inline-block;
    background-color: $light-200;
  }

  &__icon {
    margin-left: 0.25rem;
    padding: 0;
    display: inline-block;
    width: 2em;
    height: 2em;
    background: transparent;
    border: 0;
  }
  &__group-name {
    font-size: 0.75rem;
    line-height: 2em;
    font-weight: 600;
    padding: 0.0625rem 0.5rem 0.0625rem 0;
  }
  &__clear-all {
    display: inline-block;
    font-weight: 600;
    font-size: 0.75rem;
    line-height: 2em;
    text-decoration-line: underline;
    text-transform: uppercase;
    padding: 0.0625rem 0;
    border: none;
    background: transparent;
    &:hover {
      text-decoration-line: none;
    }
  }
}

.filter-group {
  &__title {
    margin-bottom: 1.5rem;
  }

  &__item {
    margin: 0.75rem 0;
  }
}
